<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/admin-panel-header.css}">


<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.css">-->
</head>

    <body>
        <header class="header__admin" th:fragment="header(user)">
            <nav class="nav__admin">
                <!-- =========Burger-start========== -->
                <div class="burger__container_admin">
                    <a class="burger__admin">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <h3 class="panel__text_admin_h3">Админ панель</h3>
                </div>
                <!-- =========Burger-end========== -->

                <ul class="main__menu_admin">
                    <li class="main__menu_admin_list" id="mobile__burger_admin">
                        <a href="#" class="main__menu_admin_ref"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </li>
                    <li class="main__menu_admin_list">
                        <a href="#" class="main__menu_admin_ref connect__new_users_block">
                            <i class="fa fa-envelope fa-fw"><span class="notification__count">2</span></i>
                        </a>
                        <ul class="submenu-hidden notify__admin connect__new_users submenu__admin">
                            <li>
                                <a href="#" class="notify__admin_link">
                                        <span class="avatar">
                                            <img th:src="@{/img/noavailablephoto.jpeg}" alt="Mr. Chu">
                                        </span>
                                    <span class="name">Админ</span>
                                    <span class="message">Новый User</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notify__admin_link">
                                        <span class="avatar">
                                            <img src="/img/h-food.png" alt="Mr. Chu">
                                        </span>
                                    <span class="name">Админ</span>
                                    <span class="message">Новый User</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notify__admin_link">
                                        <span class="avatar">
                                            <img src="/img/h-food.png" alt="Mr. Chu">
                                        </span>
                                    <span class="name">Админ</span>
                                    <span class="message">Новый User</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notify__admin_link">
                                        <span class="avatar">
                                            <img src="/img/h-food.png" alt="Mr. Chu">
                                        </span>
                                    <span class="name">Jas Gillionaire</span>
                                    <span class="message">Новый User</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main__menu_admin_list">
                        <a href="#" class="main__menu_admin_ref new_order_notify">
                            <i class="fa fa-bell fa-fw"><span class="notification__count">2</span></i>
                        </a>
                        <ul class="submenu-hidden notify__admin new__orders__notify_admin submenu__admin">
                            <li>
                                <a href="#" class="notify__admin_link">
                                        <span class="avatar">
                                            <img src="/img/h-food.png" alt="Mr. Chu">
                                        </span>
                                    <span class="name">Админ</span>
                                    <span class="message">Новый Заказ</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notify__admin_link">
                                        <span class="avatar">
                                            <img src="/img/h-food.png" alt="Mr. Chu">
                                        </span>
                                    <span class="name">Jas Gillionaire</span>
                                    <span class="message">Новый Заказ</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notify__admin_link">
                                        <span class="avatar">
                                            <img src="/img/h-food.png" alt="Mr. Chu">
                                        </span>
                                    <span class="name">Пупкин</span>
                                    <span class="message">Новый Заказ</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="notify__admin_link">
                                        <span class="avatar">
                                            <img src="/img/h-food.png" alt="Mr. Chu">
                                        </span>
                                    <span class="name">Jas Gillionaire</span>
                                    <span class="message">Новый Заказ</span>
                                    <span class="time">45 min</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="main__menu_admin_list">
                        <a href="#" class="main__menu_admin_ref" id="user__content_link">
                            <div class="user-content">
                                <div class="user-name" th:text="${user}"/>
                            </div>
                            <div class="avatar">
                                <img th:src="@{/img/noavailablephoto.jpeg}" alt="profile">
                            </div>
                        </a>
                        <ul class="submenu__admin submenu-hidden" id="menu_admin_settings">
                            <li class="submenu__list_admin">
                                <a href="#" class="submenu__ref"><i class="fa fa-user" aria-hidden="true"></i>Профиль</a>
                            </li>
                            <li class="submenu__list_admin">
                                <a href="#" class="submenu__ref"><i class="fa fa-usd" aria-hidden="true"></i>
                                    Счета</a>
                            </li>
                            <li class="submenu__list_admin">
                                <a href="#" class="submenu__ref"><i class="fa fa-cog" aria-hidden="true"></i>
                                    Настройки</a>
                            </li>
                            <li class="submenu__list_admin">
                                <a th:href="@{/logout}" class="submenu__ref"><i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Выйти</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
<!--    ================================================================================================-->


    </body>
</html>