@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.fonts{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    /* border: 1px solid #000; */
    background: #71bec6;
    height: 60px;
    z-index: 3 !important;
}
#user__header ul{
    display: flex;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
ul.header__contact_info a.burger__menu,
    /* .mobile__navigation__block, */
li.mobile__phone{
    display: none;
}
nav.header__navigation{
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 3 !important;
}
.main__logo{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    z-index: 3;
}
.main__logo a{
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: relative;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2),
    4px 4px 25px rgba(0, 0, 0, .2);
}
.main__logo a img{
    width: 80px;
}
ul.header__contact_info,
ul.header__user_info{
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
ul.header__user_info{
    width: 49%;
    padding-left: 100px;
}
ul.header__contact_info li,
ul.header__user_info li{
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
}
ul.header__contact_info li a,
ul.header__user_info li a{
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
ul.header__user_info li a{
    font-size: 15px;
}
a.mobile__info{
    border-bottom: 1px solid #ffffff;
}
a.header__social_link{
    background: #fff;
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px 0;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
}
i.fa-mobile,
i.fa-envelope-o,
i.fa-whatsapp,
i.fa-instagram{
    font-size: 15px;
    font-weight: bold;
}
i.fa-whatsapp,
i.fa-instagram{
    line-height: 20px;
}
i.fa-instagram{
    color: #E1306C;
}
i.fa-whatsapp{
    color: #43d854;
}

i.fa-mobile,
i.fa-envelope-o,
i.fa-user{
    margin-right: 5px;
}
a.header__search_link{
    display: block;
    min-width: 164px;
}
form.search__form{
    position: relative;
}
input.header__search_input{
    border: 1px solid #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 4px 40px 4px 20px;
    font-size: 12px;
    height: 40px;
    width: 100%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
    outline: none;
}
button.search__btn{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    background: url(/img/search_black.png) 5px center no-repeat transparent;
    /* outline: none; */
    border: none;
    cursor: pointer;
    z-index: 2;
}
/* ===========Indicator=========== */
.indicator{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 0;
    background: #71bec6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    z-index: -1 !important;
}

.indicator::before{
    content: '';
    position: absolute;
    top: 60px;
    left: -104px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 55px -88px #71bec6;
    z-index: 1;
}
.indicator::after{
    content: '';
    position: absolute;
    top: 60px;
    right: -104px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: -55px -88px #71bec6;

}
/* =========user__cabinet======== */
a.user__cabinet{
    display: block;
}
a.user__cabinet i.fa-user{
    margin-right: 5px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #fff;
    color: #000;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* ========Basket__Block============ */
a.basket__block{
    position: relative;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
a.basket__block span{
    display: block;
}
span.basket__cart{
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 15px;
    border-radius: 50px;;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
    overflow: hidden;
    position: relative;
}
span.basket__cart::before{
    background: url(/img/cart.png) no-repeat;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    background-position: 10px -55px;
    width: 40px;
    height: 40px;

}
.cart__total p{
    color: #fff;
    font-size: 15px;
    margin-bottom: 0 !important;
}
.cart__total span{
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.main_img img{
    width: 100%;
    height: 100vh;
}
.mobile__navigation__block{
    display: none;
}
@media screen and (max-width: 1025px) {
    ul.header__contact_info a.burger__menu{
        display: block;
    }
    a.burger__menu i{
        font-size: 25px;
    }
    ul.header__contact_info a.header__social_link,
    li.form__search,
    .user__info{
        display: none !important;
        visibility: hidden;
    }
    .main__logo a{
        width: 80px;
        height: 80px;
        padding: 10px;
    }
    .main__logo a img{
        width: 60px;
    }
    .indicator{
        width: 100px;
        height: 100px;
    }
    .indicator::before{
        top: 60px;
        left: -80px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: transparent;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        box-shadow: 37px -77px #71bec6;
    }
    .indicator::after{
        top: 60px;
        left: 80px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: transparent;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        box-shadow: -44px -77px #71bec6;
    }
    .cart__total p{
        font-size: 13px;
    }
    .cart__total span{
        font-size: 15px;
    }
    /* ==================Mobile-Start================ */
    /* ==========Main__mobile========== */

    .mobile__bg{
        display: none;
        opacity: 0;
        z-index: -1;
    }
    .mobile__bg__active{
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 18;
        background-color: #000;
        opacity: .6;
        filter: blur(20px);
        user-select: none;
        -webkit-transition: opacity ease-in-out 0.3s;
        -moz-transition: opacity ease-in-out 0.3s;
        -o-transition: opacity ease-in-out 0.3s;
        transition: opacity ease-in-out 0.3s;
    }

    .mobile__navigation__block{
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        max-width: 280px;
        height: 100%;
        background: #fff;
        overflow-y: scroll;
        z-index: 20;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    .mobile__navigation__block_active{
        left: 0 !important;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .mobile__navigation__block > .row{
        margin: 0 20px 0 20px;
    }
    .mobile__close__btn{
        width: 40px;
        height: 40px;
        background-color: #fff;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        z-index: 999999;
    }
    .close_icon {
        width: 24px;
        height: 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 999;
        margin-top: 11px;
        margin-left: 8px;
    }
    .close_icon span {
        display: block;
        position: absolute;
        width: 100%;
        opacity: 1;
        left: 0;
        height: 2px;
        top: 8px;
        background: #000;
    }
    .close_icon span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .close_icon span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .logowrapper{
        width: inherit;
        height: 100px;
        margin: 40px 0;
    }
    .mobile__menu__logo{
        display: block;
        height: inherit;
    }
    .mobile__menu__logo img{
        width: 100%;
        height: inherit;
        /* margin-top: calc((200px - 92px) / 2); */
    }
    ul.mobile__menu{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .mobile__menu li{
        margin: 0px 0;
        width: 100%;
    }
    .mobile__menu li a{
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #000;
        border: 1px solid #e0dede;
        padding: 10px 10px;
        margin: 3px 0;
        font-family: 'Montserrat', sans-serif;
    }
    .mobile__menu li.active_mobile a{
        /* color: var(--pink-color); */
    }
    a.mobile__basket__block{
        display: flex !important;
        justify-content: space-around;
        align-items: center;
    }
    a.mobile__basket__block span{
        display: block;
    }
    li.mobile__header__social{
        display: flex;
        justify-content: space-around;
    }
    li.mobile__header__social a.header__social__icons i{
        font-size: 25px;
    }
    /* ======================= */

    /* ====================Mobile-End================ */
}
/* ================Mobile-SCREEN============= */
@media screen and (max-width: 630px) {
    li.mobile_and_email_info,
    .cart__total,
    .indicator{
        visibility: hidden;
        display: none;
    }
    span.basket__cart,
    nav.header__navigation{
        padding: 0px 5px;
        margin: 0;
    }
    li.mobile__phone{
        display: block;
    }
    li.mobile__phone a{
        display: block;
    }
    li.mobile__phone a i{
        font-size: 30px;
    }
    ul.header__user_info,
    ul.header__user_info li{
        padding: 0 10px;
    }
    ul.header__user_info{
        justify-content: right;
    }
    .main__logo{
        top: 5px;
    }
    .main__logo a{
        width: 50px;
        height: 50px;
        padding: 3px;
    }
    .main__logo a img{
        width: 40px;
    }

}

*{
    /* border: 1px solid red; */
}