@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.fonts{
    font-family: 'Montserrat', sans-serif;
}
.menu-p {
    overflow: hidden;
    position: relative;
}
/* .menu-p:before {
    content: "";
    position: absolute;
    width: 38%;
    height: 100%;
    background: var(--pink-color);
    top: 0;
    right: 0;
}
.menu-p:after {
    content: "";
    position: fixed;
    width: 38%;
    height: 100%;
    background-image: url(../img/mural-shape-bg.png);
    top: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
} */
.sub-banner, header.header, footer {
    z-index: 2;
}

.af-fo-i77 {
    position: absolute;
    left: 39%;
    top: 4%;
    -webkit-animation: review-animation 8s infinite linear;
    animation: review-animation 8s infinite linear;
}
.menu-p .af-fo-i3 {
    z-index: 9;
}
.af-fo-i3 {
    position: absolute;
    right: -8em;
    top: 3em;
}

.img-cer {
    -webkit-animation: rotation 30s linear infinite;
    -moz-animation: rotation 30s linear infinite;
    -ms-animation: rotation 30s linear infinite;
    -o-animation: rotation 30s linear infinite;
    animation: rotation 30s linear infinite;
}
.af-fo-i3 img {
    width: 244px;
}
.po-re-z {
    position: relative;
    z-index: 9;
}
.min-con-h h4 {
    font-size: 15px;
    font-weight: 500;
    color: var(--pink-color);
    margin-bottom: 14px;
    text-transform: uppercase;
}
.min-con-h h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 58px;
    margin-bottom: 20px;
}
.menu-list-mar .col-md-3 {
    margin-bottom: 30px;
}
.menu-box-list {
    background: #efefef;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .2),
    4px 4px 25px rgba(0, 0, 0, .2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}
.menu-box-list:hover{
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .3),
    6px 6px 35px rgba(0, 0, 0, .3);
}
.img-menu-l {
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    overflow: hidden;
}

.img-menu-l a img{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
    height: 200px;
}

.img-menu-l::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(6, 6, 6, .8);
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.img-menu-l:hover::before{
    opacity: 1;
}
p.description_product{
    position: absolute;
    top: -50%;
    padding: 30px 20px;
    color: #fff;
    font-family: 'Proxima Nova', sans-serif;
    line-height: 16px;
    font-size: 14px;
    opacity: 0;
    transition-duration: 0.6s;
    cursor: default;
    /* text-align: center; */
}
.img-menu-l:hover p.description_product{
    opacity: 1;
    top: 0;
}
.icon-v {
    text-align: center;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 6px;
    background: rgb(255 255 255 / 82%);
    border-radius: 50%;
    line-height: 32px;
    top: 6px;
}
.menu-det {
    padding: 20px;
}
/* .menu-det h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #0f0f0f;
    margin-bottom: 15px;
} */
.menu-det h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #0f0f0f;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.test-rating {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.test-rating li {
    float: left;
    margin-right: 5px;
}
.test-rating li i {
    color: #fb9708;
}
.full-side-l {
    width: 100%;
    display: inline-block;
}
.full-side-l ul li:first-child {
    float: left;
}
.current-price {
    font-weight: 600;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}
.full-side-l ul li:last-child {
    float: right;
}
.full-side-l ul li:last-child a{
    display: inline-block;
    text-align: center;
    background: #71bec6;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.full-side-l ul li:last-child a:hover{
    /* color: #111; */
    transform: scale(1.05);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

p.weight__product{
    color: #555454;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
p.weight__product span{
    /* color: #fb9708; */
}

@media only screen and (max-width: 1025px){
    .full-side-l ul li:last-child a{
        padding: 2px 10px;
        font-size: 14px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}
/* ===========Mobile=============== */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .pt-90 {
        padding-top: 50px;
    }
    .af-fo-i3 {
        position: absolute;
        right: -5em;
        top: 3em;
    }
    .af-fo-i3 img {
        width: 180px;
    }
    .min-con-h h2 {
        font-size: 40px;
        line-height: 39px;
    }
    .menu-list-mar .col-md-3 {
        margin-bottom: 10px;
        padding: 0px 5px;
    }
    .img-menu-l img.img-fluid {
        width: 100%;
    }
    .menu-det h4 a {
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        color: #0f0f0f;
        margin-bottom: 6px;
    }
    .current-price {
        font-weight: 600;
        color: #000;
        font-size: 13px;
    }
    .full-side-l ul li:last-child a{
        padding: 2px 10px;
        font-size: 12px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}
@media only screen and (max-width: 767px){
    .pt-90 {
        padding-top: 60px;
    }
    .min-con-h h2 {
        font-size: 35px;
        line-height: 45px;
    }
    .img-menu-l img.img-fluid {
        width: 100%;
    }
    .full-side-l ul li:last-child a{
        padding: 2px 10px;
        font-size: 14px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}
*{
    /* border: 1px solid red; */
}
