@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Marmelad&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
/* ==================Login-style-start======================= */
body{
    scrollbar-width: thin;          /* "auto" или "thin"  */
    scrollbar-color: blue orange;
}
.login__row{
    height: 100%;
    position: relative;
}
.login__img_container{
    background: #17222c;
}
.login__img{
    width: 200px;
    height: 200px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}
.login__img > .logo__img{
    width: inherit;
    height: inherit;
}
.login_icon{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 42px;
    top: 0px;
    left: 12px;
    color:#535353;
}
.login__form_container{
    background: #f261b1;
    background-image: url("/img/mural-shape-bg.png");
}
.wrap__login{
    background: #17222c;
    /* background: -webkit-linear-gradient( 45deg , #17222c, #f261b1, #17222c)!important;
    background: linear-gradient( 45deg , #17222c, #f261b1, #17222c)!important; */
    margin: 60px 0;
    color: #fff;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    font-family: 'Marmelad', sans-serif;/* для p текста */
    padding: 60px 40px;
    box-shadow: 4px 4px 30px rgba(255, 255, 255, .3);
}
.wrap__login > h3{
    font-family: 'Marck Script', cursive, sans-serif;
    font-size: 40px;
}
.wrap-input100{
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #fff;
    box-shadow: 4px 4px 30px rgba(242, 97, 177, .3);
}
.alert-validate::before {
    content: attr(data-validate);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 42px;
    background-color: #fff;
    border-radius: 20px;
    top: 0px;
    left: 0px;
    padding: 0 45px 0 33px;
    pointer-events: none;
    font-family: 'Marmelad', sans-serif;/* для p текста */
    font-size: 16px;
    color: #fa4251;
    line-height: 1.2;
}
.alert-validate > .login_icon{
    color: #fa4251;
}
.input100{
    font-family: 'Marmelad', sans-serif;/* для p текста */
    font-size: 16px;
    color: #535353;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 42px;
    background: transparent;
    padding: 0 20px 0 33px;
    border: none;
}
.focus-input100 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 20px;
    box-shadow: 0 5px 30px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 30px 0px rgb(0 0 0 / 10%);
    -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-hide-validate {
    font-family: 'Marmelad', sans-serif;/* для p текста */
    font-size: 15px;
    color: #fa4251;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 42px;
    top: 0px;
    right: 23px;
}
.true-validate::after {
    content: "";
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 42px;
    width: 16px;
    top: 15px;
    background: url(../img/check.svg) no-repeat;
    right: 23px;
}
.true-validate > .login_icon{
    color: #41D873;
}
.login_icon > i{
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
}
.login__button{
    border-radius: 20px;
    font-size: 1rem;
    color: #fff;
    /*border: none;
    outline: none;
    */
    width: 100%;
    min-height: 42px;
    background: #f261b1;
    border: 1px solid #fff;
    transition: .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
.login__button:hover{
    background: #000;
    color: #fff;
    border-color: #f39c12;
}
.forgot_password_container{
    text-align: right;
}
.forgot_password{
    font-size: 13px;
    color:#fff;
    text-align: right;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.forgot_password:hover{
    color: #f39c12;
}
.login__link{
    color: #f39c12;
    cursor: pointer;
}
.login__link:hover{
    color: #007bff;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign_link_other_service{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #fff;
    line-height: 40px;
    font-size: 22px;
    margin: 10px 5px;
}
.facebook_service{
    color: #3b5998;
}
.google_service{
    background: url(../img/icon-google.png);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}
.bottom-container{
    position: absolute;
    color: #fff;
    bottom: 20px;
    z-index: 3;
}
.bottom-container p {
    line-height: 18px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}
.input100{
    z-index: 20 !important;
}
*{
    /* border: 1px solid red; */
}
/* ===mobile_login==== */
@media only screen and (max-width: 767px){
    .login__row{
        height: 100% !important;
    }
    .login__img{
        width: 100px;
        height: 100px;
        -webkit-box-reflect: below 0px linear-gradient(transparent, transparent);
        margin: 20px 0;
    }
    /* .wrap__login{
        padding: 40px 20px;
    } */
    .wrap__login{
        margin-top: 40px;
        padding: 40px 20px;
    }
    .wrap__login > h3 {
        font-size: 20px;
    }
    .wrap__login p,
    .wrap__login a,
    .alert-validate::before,
    .input100,
    .btn-hide-validate {
        font-size: .8rem;
    }
}
/* ==================Login-style-end======================= */