*{
    /*border: 1px solid red;*/
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}
/*==========Для кнопки картинки=========*/
.custom-file-button input[type=file] {
    margin-left: -2px !important;
}
.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}
.custom-file-button input[type=file]::file-selector-button {
    display: none;
}
.custom-file-button:hover label {
    cursor: pointer;
}
/*===========================*/
table thead tr {
    color: #ffffff;
    font-weight: bold;
    background: #00b09b;
    text-align: center;
}
.sort_table{
    color: #4a00e0;
    margin-left: 7px;
}
/*=================*/
.panel{
    border-radius: 4px;
    color: #fff;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
}

.panel-heading {
    padding: 10px 15px;
    border-radius: 5px;
}
.huge {
    font-size: 30px;
    text-align: right;
}
.info_text{
    text-align: right;
}
.panel-primary>.panel-heading {
    background: linear-gradient(to right, #8e2de2, #4a00e0)!important;
}
.panel-green>.panel-heading{
    background: #00b09b;
    background: -webkit-linear-gradient( 45deg , #00b09b, #96c93d)!important;
    background: linear-gradient( 45deg , #00b09b, #96c93d)!important;
}
.panel-yellow>.panel-heading{
    background: linear-gradient(to right, #f7971e, #ffd200)!important;
}
.panel-red>.panel-heading{
    background: #ee0979;
    background: -webkit-linear-gradient( 45deg , #ee0979, #ff6a00)!important;
    background: linear-gradient( 45deg , #ee0979, #ff6a00)!important;
}
.accordion-item{
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
}
*{
    /*border: 1px solid red;*/
}