<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PANEL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<h1>CATERING</h1>

<!--===================Create PRODUCT==================-->
    <h1>Создать новый Товар</h1>
    <!--/*@thymesVar id="product" type="com.example.api.entities.Product"*/-->
    <form th:action="@{/create}" method="POST" th:object="${product}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <!--/*@thymesVar id="image" type="com.example.api.entities.Image"*/-->
        <input type="hidden" name="image" th:value="${image}">
        Image : <input type="file" name="file"><br/>
        Title : <input type="text"  name="title"th:field="*{title}"><br/>
        Description : <input type="text" name="description" th:field="*{description}"><br/>
        Количество грамм или кг : <input type="text" name="weightAndPiece" th:field="*{weightAndPiece}"><br/>
        <label for="type">Choose type</label>
        <select required th:field="*{productType}" id="type">
            <option value="">Nothing selected</option>
            <!--/*@thymesVar id="type" type="com.example.api.entities.ProductType"*/-->
            <option th:each="type : ${types}"
                    th:value="${type.getId()}"
                    th:text="${type.typeName}"/>
        </select>
        Цена : <input type="number" name="price" th:field="*{price}"><br/>
        <button type="submit">Создать</button>
    </form>

<!--===============Product TABLE============-->
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Изображение</th>
        <th>Название продукта</th>
        <th>Описание продукта</th>
        <th>Количество</th>
        <th>Тип</th>
        <th>Цена</th>
        <th>Дата Создания</th>
        <th>Действия</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="product : ${products}">
        <!--/*@thymesVar id="product" type="com.example.api.entities.Product"*/-->
        <td th:text="${product.id}"/>
        <td><img th:src="@{/images/{id}(id=${product.image != null} ? ${product.getImageId()})}" width="50px" height="50px"/></td>
        <td th:text="${product.title}"/>
        <td th:text="${product.description}"/>
        <td th:text="${product.weightAndPiece}"/>
        <!--/*@thymesVar id="typeName" type="com.example.api.entities.ProductType"*/-->
        <td th:text="${product.productType != null} ? ${product.productType.typeName}"/>
        <td th:text="${product.price}"/>
        <td th:text="${#dates.format(product.createdAt, 'dd.MM.yyyy E - k:mm ')}"/>

        <td>
            <a th:href="@{'/products/show/' + ${product.id}}" th:text="Просмотреть"/>
        </td>
        <td>
            <a th:href="@{/products/edit/{id}(id = ${product.id})}"th:text="Edit"/>
            <a th:href="@{'/delete/' + ${product.id}}" th:text="Delete"/>
        </td>
        <td>
            <!--                <form th:action="@{/products/delete/{id}(id=${product.id})}" th:method="POST">-->
            <!--&lt;!&ndash;                    <input type="hidden" name="id" th:value="${product.id}" />&ndash;&gt;-->
            <!--                    <button type="submit">Delete</button>-->
            <!--                </form>-->
        </td>
    </tr>
    </tbody>
</table>
<span th:text="${'Всего товаров ' + products.size()}"/>


</body>
</html>